<table class='table table-bordered table-striped'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email Address</th>
      <th>Active</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | orderBy:['first_name', 'last_name']">
      <td><a href="/users/{{ user.id }}">{{ user.first_name }} {{ user.last_name }}</a></td>
      <td>{{ user.email }}</td>
      <td>{{ user.active }}</td>
      <td><a href="/users/{{ user.id }}/edit">Edit</a></td>
      <td>Delete</td>
    </tr>
  </tbody>
</table>
